Source: xdg-desktop-portal-hyprland
Section: main
Priority: optional
Maintainer: ferrreo <harderthanfire@gmail.com>
Standards-Version: 4.6.1
Build-Depends: debhelper-compat (= 13)
Rules-Requires-Root: no

Package: xdg-desktop-portal-hyprland
Architecture: linux-any
Depends: hyprland, xdg-desktop-portal
#
Description: Desktop portal for hyprland
