#! /usr/bin/make -f

export DH_VERBOSE = 1

override_dh_auto_build:
	cd hyprland-share-picker && make all && cd ..

## overriding dh_clean to make it not delete rust vendor files:
#override_dh_clean:
#	echo "disabled"

## overriding dh_auto_configure to add custom configs:
#override_dh_auto_configure:
#		$(srcdir)/configure -DCMAKE_BUILD_TYPE=Release -DCMAKE_INSTALL_DATADIR=/usr/share -DCMAKE_LIBRARY_PATH=/usr/lib/x86_64-linux-gnu -DBUILD_PLUGIN=OFF

## overriding dh_install to install files to a package:
override_dh_install:
		install -d $(pkgdir)/usr/bin
		cp $(srcdir)/hyprland-share-picker/build/hyprland-share-picker $(pkgdir)/usr/bin/hyprland-share-picker
		rm -Rf $(pkgdir)/usr/share/hyprland-protocols
		rm -f $(pkgdir)/usr/share/pkgconfig/hyprland-protocols.pc
%:
	dh $@
